
、

<ion-view>
    <ion-content>
        <button class="button button-positive" ng-click="sendMsgTest()">发送消息测试</button>
        <button class="button button-assertive" ng-click="AddGroup()">新建群测试</button>
        <button class="button button-royal" ng-click="AddGroupMember()">添加群成员测试</button>
        <button class="button button-dark" ng-click="GetGroupList()">获取群列表测试</button>
        <button class="button button-positive" ng-click="GetGroupMemberList()">获取成员表测试</button>
        <button class="button button-calm" ng-click="login()">登录测试</button>
        <button class="button button-balanced" ng-click="saveMsg()">保存信息测试</button>
        <button class="button button-energized" ng-click="notifyList()">通知列表测试</button>
        <button class="button button-assertive" ng-click="chatList()">聊天记录列表测试</button>
        <button class="button button-royal" ng-click="localSave()">保存--localstoreage</button>
        <button class="button button-dark" ng-click="localUpdate()">更新--localstoreage</button>
        <button class="button button-balanced" ng-click="localDelete()">删除localstoreage一条数据</button>
        <button class="button button-positive" ng-click="openCamera()">测试uapmobile调用相机</button>
        <button class="button button-positive" ng-click="msgQuestion()">群名称回调函数取值</button>
    </ion-content>
</ion-view>


