<ion-tabs class="tabs-icon-top tabs-color-active-balanced">
    <ion-tab title="消息" badge="allNews" badge-style="badge-assertive"
             icon-on="ion-ios-chatbubble" icon-off="ion-ios-chatbubble-outline" ui-sref="tab.message">
        <ion-nav-view animation="slide-left-right" name="tab-message"></ion-nav-view>
    </ion-tab>
    <ion-tab title="联系人" icon-on="ion-ios-people" icon-off="ion-ios-people-outline" ui-sref="tab.concat">
        <ion-nav-view animation="slide-left-right" name="tab-concat"></ion-nav-view>
    </ion-tab>
    <ion-tab title="通知" icon-on="ion-ios-paperplane" icon-off="ion-ios-paperplane-outline" ui-sref="tab.notifyList">
        <ion-nav-view animation="slide-left-right" name="tab-notifyList"></ion-nav-view>
    </ion-tab>
    <ion-tab title="我的" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" ui-sref="tab.personInfo">
        <ion-nav-view animation="slide-left-right" name="tab-personInfo"></ion-nav-view>
    </ion-tab>
</ion-tabs>
